@charset "UTF-8";
@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');
/* font-family: 'Noto Sans KR', sans-serif; */
/* font-family: 'Hana B'; */

*{
    margin: 0;
    padding: 0;
}
/* *은 모든요소 모든요소의 기본 마진 패딩값을 초기화 한다 */
  
  li {
    list-style: none;
  }  
  /* 리스트 기본 스타일 구려서 스타일 빼주기 */
  
  a {
    display: block;
    text-decoration: none;
    color: #000;
  }
  /* a태그 블록화 및 기본 텍스트 속성 파란색이랑 밑줄빼주기 어릴때 야후 해본사람이면 알꺼임 */
  img {
    display: block;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  /* 이미지도 블록처럼 쓰는게 좋음 이미지만 띨랑 쓰는게 아니라 항상 div로 싸주고 걔로 컨트롤한다고 생각해야하기때문에 블록으로 리셋 */
/* layout */
#wrap {}

#header {
    background-color: #fff;
}

#banner {
    background-color: #a0d1ee;
    height: 470px;
}

/* contents layout */
#contents {}
#footer{}
#cont1 {
    height: 940px;
    background-color: #f5f6f8;
}
/* cont2 */
#cont2{
    height: 555px;
    background-color: #efefef;
}
/* container */
.container {
    position: relative;
    width: 1200px;
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
}

/* header/ */
.header {
    font-family: 'Hana B';
}

.header {}

.header li {
    margin: 7px 0;
    background: url(../img/bar1.gif) no-repeat 0px 8px;
    /* 메뉴사이의 바 인데 백그라운드 이미지 백그라운드 리피트 백그라운드 포지션 */
}

.header li a {
    font-size: 13px;
    display: block;
    /* 부모의 성질이 옆으로 정렬이라 블록요소로 바꿔줘도 한줄씩 차지하지않음 */
    padding: 8px 15px;
}

.header .list1 {
    float: left;
}

.header .list1 li {
    float: left;
}

/* 부모가 플로트 되있으면 자식이 플로트해도 안깨짐 */
.header .list1 li:nth-child(2) {
    background: none;
}

/* nth-child 이름이 같은 여러형제중 몇번째인지 선택 */

.header .list1 li.green {}

.header .list1 li.green a {
    background-color: #20907f;
    color: #fff;
    border-radius: 3px;
}

.header .list2 {
    float: right;
}

.header .list2 li {
    float: left;
}

/* 부모는 오른쪽 자식은 부모의 왼쪽 영역이 다름 */
.header .list2 li a {
    color: #797979;
}

.header .list2 li.logo {
    margin: 11px 13px 11px 0;
    /* 패딩주니까 깨져서 마진넣어서 자리맞춤 */
}

.header .list2 li.logo a {
    border: 1px solid #cccccc;
    /* boder: width style color */
    padding: 3px 10px;
    border-radius: 3px;
}

/* --------------------banner---------------------------------*/
.ban_left {}

.ban_left .ob {
    position: absolute;
}

.ban_left .ob.ob1 {
    /* 구름1 */
    left: 151px;
    top: 161px;
    animation: gulum 3s 0.3s linear infinite both;
}

.ban_left .ob.ob2 {
    /* 구름2 */
    left: 217px;
    top: 133px;
    animation: gulum 3s 0.6s linear infinite both;
}

@keyframes gulum {
    0% {
        transform: translateX(-10px);
    }

    20% {
        transform: translateX(0px);
    }

    50% {
        transform: translateX(-10px);
    }

    75% {
        transform: translateX(0px);
    }

    100% {
        transform: translateX(-10px);
    }
}

.ban_left .ob.ob3 {
    /* 달력 */
    left: 208px;
    top: 78px;
    animation: down 0.5s 0.5s both;
}

@keyframes down {
    0% {
        transform: translateY(-300px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes down-small {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes down-long {
    0% {
        transform: translateY(-500px);
        opacity: 0;
    }

    50% {
        transform: translateY(-30px);
        opacity: 1;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes left {
    0% {
        transform: translateX(500px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes left-b {
    0% {
        transform: translateX(500px);
        opacity: 0;
    }

    85% {
        transform: translateX(-180px);
        opacity: 1;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes tl {
    0% {
        transform: translate(110px, -100px);
        opacity: 0;
    }

    100% {
        transform: translate(0px, 0px);
        opacity: 1;
    }
}

@keyframes scale {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    10% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }

}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(359deg);
    }

}

.ban_left .ob.ob4 {
    /* 쇼핑할땐 */
    left: 250px;
    top: 112px;
    animation: left 0.5s 0.7s both;

}


.ban_left .ob.ob5 {
    /*title */
    left: 250px;
    top: 140px;
    animation: left 0.5s 0.9s both;

}

.ban_left .ob.ob6 {
    /* 1 */
    left: 264px;
    top: 213px;
    animation: down-long 0.5s 0.7s both;

}

.ban_left .ob.ob7 {
    /* 1 */
    left: 320px;
    top: 213px;
    animation: down-long 0.5s 0.9s both;

}

.ban_left .ob.ob8 {
    /* 우산 */
    left: 433px;
    top: 302px;
    animation: tl 0.3s 2.8s both;

}

.ban_left .ob.ob9 {
    /* 슈트케이스 */
    left: 355px;
    top: 317px;
    animation: down-small 0.3s 2.7s both
}

.ban_left .ob.ob10 {
    left: 220px;
    top: 343px;
    animation: left-b 0.6s 1.8s both;
}

.ban_left .ob.ob11 {
    /* 선물 */
    left: 376px;
    top: 268px;
    animation: down-small 0.3s 2.9s both
}

.ban_left .ob.ob12 {
    /* 박스 */
    left: 360px;
    top: 284px;
    animation: down-small 0.3s 3s both
}

.ban_left .ob.ob13 {
    /* 가방 */
    left: 415px;
    top: 274px;
    animation: down-small 0.3s 3.2s both
}

.ban_left .ob.ob14 {
    /* 작은바람 */
    left: 501px;
    top: 370px;
    animation: scale 2s 3.4s infinite both;
    transform-origin: left top;
}

.ban_left .ob.ob15 {
    /* 큰바람 */
    left: 501px;
    top: 370px;
    animation: scale 2s 3.3s infinite both;
    transform-origin: left top;

}

.ban_left .ob.ob16 {
    /* 원 */
    left: 485px;
    top: 119px;
    animation: rotate 3s infinite linear;

}

.ban_left .ob.ob17 {
    /* 서프라이즈 */
    left: 378px;
    top: 189px;
    animation: scale 3s 4s both;
    transform-origin: left center;
    /* 애니메이션 시작점 변경 */
}



.ban_right {
    width: 600px;
    position: absolute;
    right: 0;
    top: 50px;
}

.ban_right .br_tit {
    background-color: #fff;
    padding: 45px 0 60px 100px;
}

.ban_right .br_tit h3 {
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: -1px;
    /* 자간 글자 사이의 간격 */
}

.ban_right .br_tit p {
    font-size: 14px;
    padding-top: 50px;
    position: relative;
}

.ban_right .br_tit p::before {
    content: "";
    position: absolute;
    top: 24px;
    left: 0;
    width: 30px;
    height: 2px;
    background-color: #00907f;
}

.ban_right .br_tit p strong {
    color: #00907f;
}

.ban_right .br_tit .login_btn {
    position: absolute;
    right: 60px;
    top: 55px;
}

.ban_right .br_tit .login_btn ul {}

.ban_right .br_tit .login_btn ul li {}

.ban_right .br_tit .login_btn ul li a {
    display: block;
    width: 80px;
    height: 80px;
    font-size: 14px;
    text-align: center;
    color: #fff;
}

.ban_right .br_tit .login_btn ul li.lb1 {
    margin-bottom: 1px;
}

.ban_right .br_tit .login_btn ul li.lb1 a {
    background: #db3360 url(../img/ico_login.png) no-repeat center 18px;
    padding-top: 50px;
    /* 글자는 패딩값으로 이동시킴 */
    box-sizing: border-box;
    transition: 0.3s;
}

.ban_right .br_tit .login_btn ul li.lb1 a:hover {
    background-color: #c4204c;
    /* 원래값에 백그라운드로 여러개의 속성을 잡아놨는데 hover에 그대로 백그라운드를 주면 다른속성값이 아무것도 없이되게 됨 컬러만 바꾸는거임!*/
}

.ban_right .br_tit .login_btn ul li.lb2 a {
    background: #333;
    /* padding-top: 50px;
    box-sizing: border-box; */
    line-height: 80px;
    /* 한줄일때 행간을 사용해서 중간으로 보냄 */
    transition: 0.3s;
}

.ban_right .br_tit .login_btn ul li.lb2 a:hover {
    background: #3c3f44;
}

/* float로 부모깨졌을때
    1. ::after 사용하여 clear:both
    2.부모에게 overflow:hidden -깨지는거 막을때 내영역보다 넘치는영역에 뭐가 나온다면 쓰면x 오류로 오류잡기 
    3.깨진 부모에게 강제로 높이값*/

.ban_right .br_btn {
    height: 50px;
    margin-top: 25px;

}

.ban_right .br_btn ul {
    overflow: hidden;
    background-color: #00907f;
}

.ban_right .br_btn ul li {
    float: left;
    font-size: 14px;
    line-height: 50px;
    /* 한줄일때 행간으로 센터정렬 */
    position: relative;
    width: 25%;
    text-align: center;
}

.ban_right .br_btn ul li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 18px;
    width: 1px;
    height: 14px;
    background-color: #62bdb1;
}

.ban_right .br_btn ul li:first-child:before {
    width: 0;
    height: 0;
    /* li중 첫째중에 비포로 잡힌 바를 넓이와 높이를 없애버림 */
}

.ban_right .br_btn ul li a {
    color: #fff;
    display: block;
}

/* nav--------------------------------------------------------------- */
#nav {
    position: absolute;
    left: 0;
    top: -50px;
    /* 다른애들이 딸려있는 네비를 움직여줌 */
    background-color: #fff;
    width: 100%;
    border-bottom: 1px solid #e6e6e6;
    font-family: 'Hana B';
    padding: 30px 0;

}

#nav .gnb {
    padding-left: 60px;
}

#nav .gnb li {
    display: inline;
    padding: 10px;
    /* 인라인 요소는 패딩 마진의 상하가 적용 x 개발자모드로 잡히긴해도 영역을 차지하지않음 */
}

#nav .gnb li a {
    display: inline-block;
    padding: 10px 16px;
    font-size: 17px;
    transition: 0.3s;
}

#nav .gnb li a:hover {
    background-color: #00907f;
    color: #fff;
    border-radius: 3px;
}

#nav .gnb_right {
    position: absolute;
    right: 50px;
    top: 30px;
}

#nav .gnb_right li {
    float: left;
    /* 부모가 position: absolute; 일때 안깨짐*/
    /* a가 블록이 되도 부모가 플로트 되어있으면 블록요소가 되지만 영역차지를 글자만큼만 함 float가 블록요소를 강제로 옆으로 정렬 */
}

#nav .gnb_right li a {
    display: block;
    padding: 11px 20px;
    font-size: 14px;
}

#nav .gnb_right li.gr1 {
    margin-right: 10px;
}

#nav .gnb_right li.gr1 a {
    border: 1px solid #e1e1e1;
    border-radius: 3px;
    transition: 0.3s;
}

#nav .gnb_right li.gr1 a:hover {
    background-color: #f4f4f4;
    color: #000;
}

#nav .gnb_right li.gr2 {}

#nav .gnb_right li.gr2 a {
    background-color: #404b57;
    color: #fff;
    border-radius: 3px;
    transition: 0.3s;
}

#nav .gnb_right li.gr2 a:hover {
    background-color: #000;
}

#nav .gnb_event {
    /* 대문자로 변화 */
    text-transform: uppercase;
    /* 모든 문자 를 대문자로 */
    /* text-transform: lowercase ; 다 소문자 */
    /* text-transform: capitalize; 첫글자만 대문자 */
    position: absolute;
    left: 20px;
    top: -35px;
    background-color: #3c3f44;
    color: #fff;
    font-size: 14px;
    padding: 3px 23px 2px;
    line-height: 30px;
}

#nav .gnb_event a {}

#nav .gnb_search {
    position: absolute;
    right: 290px;
    top: 25px;
    width: 50px;
    height: 50px;
    background: url(../img/gnb_search.png) no-repeat;
}


/* #card -------------------------------------------------------------*/
#card {
    padding-top: 60px;
    /* 영역이 겹치기때문에 패딩으로 위에서부터 밀어냄 */
}

#card .card_img {
    float: left;
    width: 50%;
    height: 285px;
    background-color: #fff;
}

#card .card_desc {
    float: left;
    width: 50%;
    height: 285px;
    background-color: #eaebef;

}

/* .card_img--------------------------------------------------------- */
.card_img {
    padding: 18px 47px 0;
    box-sizing: border-box;
    position: relative;
}

.card_img h4 {
    font-size: 18px;
    color: black;
    margin-bottom: 11px;
}

.card_img .card_banner {}

.card_img .card_banner ul {}

.card_img .card_banner ul li {
    float: left;
    width: 148px;
    margin-left: 30px;
    text-align: center;
}

.card_img .card_banner ul li:first-child {
    margin-left: 0;
}

.card_img .card_banner ul li a {}

.card_img .card_banner ul li a img {
    width: 100%;
}

.card_img .card_banner ul li a em {
    font-size: 14px;
    padding-top: 8px;
    display: block;
    /* 인라인요소는 패딩의 상하는 안먹음 */
}

.card_img .card_link{
    margin-top: 30px;

}

.card_img .card_link ul{
    /* overflow: hidden;  clearfix 랑 같음*/

}

.card_img .card_link ul li{
    float: left;
    margin-right: 11px;
}
.card_img .card_link ul li:last-child{
    margin-right: 0;
}


.card_img .card_link ul li a{
    display: block;
    border:  1px solid #e8e8e8;
    font-size: 15px;
    padding: 10px 8px;
    transition: 0.3s;
}
.card_img .card_link ul li a:hover{
    border-color:#666 ;
    color: #00907f;
}
.card_img .cardmore-btn{
    position: absolute;
    right: -40px;top: 60px;/* ir의 left 값이 있어서 라이트가 안먹음
    오른쪽보다 왼쪽이 밑에보다 위쪽의 속성값이 더쎔 */
    left: auto;/* ir의 속성값 left를 없애줌 */
    width: 40px; height: 151px;
    background: url(../img/btn_card_v01.png) no-repeat;
}
/* card_desc--------------------------------------------------------- */
.card_desc{
    text-align: center;
    padding-top: 50px;
    box-sizing: border-box;
}
.card_desc dl{}
.card_desc dl dt{
    font-size: 15px;
    color: #777;
    font-weight: 500;
}
.card_desc dl dd{}

.card_desc dl dd.cd1{
    font-size: 23px;
    margin: 26px 0 45px;
}
.card_desc dl dd.cd1::before,/* 비포와 애프터를 같이씀 , */
.card_desc dl dd.cd1::after{
    content: '"'; /* 쌍따옴표를 쓸라면 작은따옴표로 싸야댐 */
    color: #00907f;
}

.card_desc dl dd.cd2{}
.card_desc dl dd.cd2 ul{}
.card_desc dl dd.cd2 ul li{
    display: inline;
    /* 옆으로 정렬시킬때 알수없는 틈이생김 폰트싸이즈따라다름/ 여백의값을 줘야하거나 지정시키려면 float으로 정렬시켜야함 */
}
.card_desc dl dd.cd2 ul li a{
    display: inline-block;
    padding: 8px 30px;
    border: 1px solid #fff; /* boxsize-boderbox 또는 boder를 줘서 hover되었을때 테두리때문에 영역이 움직이는걸 막음 */
    background-color: #fff;
    transition: all 0.3s;/* 따로 적용시킬수 있다 값을 줘야함 */

}
.card_desc dl dd.cd2 ul li a:hover{
    border: 1px solid #bbb;
    
}
/* ----------------------------event--------------------------- */
#event{
    margin-top: 10px;
    text-align: center;
    color: #fff;
}
#event>div{
    float: left;
}

/* event_box1-------------------------------------------------------------------- */
.event_box1{}
.event_box1>div{
    width: 300px;
    height: 188px;
    box-sizing: border-box;
    padding-top: 110px;
}
.event_box1>div .eb_desc{
    font-size: 16px;
    font-weight: 300;
}
.event_box1>div .eb_tit{
    font-size: 20px;
    
}

.event_box1 .eb_banner1{
    background: #01937f url(../img/event_icon1.png) no-repeat 
    center 25px ;
}
.event_box1 .eb_banner2{
    background: #766e9c url(../img/event_icon2.png) no-repeat 
    center 25px ;
}
.event_box1 .eb_banner3{
    background: #43587d url(../img/event_icon3.png) no-repeat 
    center 25px ;
}
/*------------------------------------------ event_box2 ----------*/
.event_box2{}
.eb_babber4{
    width: 600px;
    height: 376px;
    background-color: #fff;
    text-align:left;
    position: relative;
}
.eb_babber4 .eb_icon{
    position: absolute;
    left: 60px;top: 60px;
    z-index: 10;
}
.eb_babber4 .eb_icon ul{}
.eb_babber4 .eb_icon ul li{
    float: left;
}
.eb_babber4 .eb_icon ul li.ei1{
    margin-right: 8px;
}
.eb_babber4 .eb_icon ul li.ei1 a{
    background-color: #00907f;
    border: 1px solid #00907f;
    color: #fff;
    border-radius: 3px;
    text-transform: uppercase;/* 전부 대문자로 */
    transition: 0.3s;
}
.eb_babber4 .eb_icon ul li.ei1 a:hover{
    background-color: #007668;
    border-color: #007668;
}
.eb_babber4 .eb_icon ul li.ei2{

}
.eb_babber4 .eb_icon ul li.ei2 a{
    border: 1px solid #ccc;
    border-radius: 3px;
    transition: 0.3s;
    /* box-sizing: border-box;  넓이가 없어서 안댐
    얘는 테두리가 있어서 옆에 ei1과 높이차이가 남 그래서 ei1한테도 테두리값을 줘서 높이를 맞춰줌*/
}
.eb_babber4 .eb_icon ul li.ei2 a:hover{
    border-color: #000;
    color: #000;
}
.eb_babber4 .eb_icon ul li a{
    display: block;
    font-size: 13px;
    padding: 3px 12px;
}
.eb_slider_list{
    color: #000;
    position: relative;
}
.eb_slider_list .slick-dots{
    position: absolute;
    right: 50px;top: 50px;
}
.eb_slider_list .slick-dots li{
    display: inline;
    margin-right: 8px;
}
.eb_slider_list .slick-dots li button{
    /* 인라인요소는 공간인식x 인라인중 이미지 와 버튼은 공간인식가능 */
    font-size: 0; line-height: 0;
    border: none;
    width: 8px;height: 8px;
    background-color: rgba(0,0,0,0.3);
    cursor: pointer;/* -커서를 올리면 손가락모양으로 바뀜 a태그는 원래가지고있는 속성 */
    border-radius: 50%;
    transition: 0.3s;
}
.eb_slider_list .slick-dots li.slick-active button{
    background-color: #d75e7e;
}
.eb_slider_list .slick-dots li button:hover{
    background-color: #00907f;
    transform: scale(1.3);
}

/* eb_babber5----------------------------------------------------------- */
.eb_babber5{
    width: 600px;height: 188px;
    background: #8cc7e9 url(../img/event_icon4.png) no-repeat 153px 72px ;
    position: relative;
}

.eb_babber5 h4{
    position: absolute;
    left: 60px;top: 95px;
    font-family: 'Hana B';
    font-size: 20px; 
    color: #000;
    /* #fff #ffffff
    rgb(255,255,255)
    #000 #000000
    rgb(0,0,0) */
}

.eb_babber5 .money {
    padding-top: 50px;
    padding-left: 260px;
}

.eb_babber5 .money li{
    float: left;
    margin-right: 8px;
    margin-bottom: 8px;
}

.eb_babber5 .money li a{
    display: block; 
    background: #fff;
    font-size: 14px;
    border-radius: 3px;
    width: 134px;
    padding: 9px 10px;
    text-align: center;

}
.eb_babber5 .money li.w100 a{
    width: 100px;
}

.eb_babber5 a.point{
    position: absolute;
    left: 60px;top: 55px;
    background-color: #43587d;
    color: #fff;
    text-transform: uppercase;
    border-radius: 3px;
    padding: 3px 12px;
}
/* event_box3 */
.event_box3{
    width: 300px;
    height: 564px;
    background-color: #d7567e;
}
.event_box3 h4{
    font-size: 22px;
    padding: 40px 0;
}
.event_box3 .eb_slider2{
    text-align: center;
}
.event_box3 .eb_slider2 img{
    display: inline;/* 슬릭에서 이미지를 블록으로 바꿔놔서 다시 인라인으로 바꿔서 text-align center로 중간으로 위치시킴 */
}

.event_box3 .eb_slider2 .slick-dots{}
.event_box3 .eb_slider2 .slick-dots li{
    display: inline;
    margin-right: 10px; /* 인라인은 위아래는 패딩 마진 적용 안되지만 양옆은 가능함 */
}
.event_box3 .eb_slider2 .slick-dots li button{
    font-size: 0;
    line-height: 0;
    width: 10px;
    height: 10px;
    background-color: rgba(255,255,255,0.6);
    border: none;
    border-radius: 50%;
}
.event_box3 .eb_slider2 .slick-dots li.slick-active button{
    background-color: rgba(255,255,255,0.8);
    /* cursor: pointer; */

}
.event_box3 p{
    font-size: 16px;
    padding: 35px 0 15px;

}

.event_box3 .es2_btn{
    background-color: #fff;
    display: inline-block;
    padding: 10px 50px;
    font-size: 16px;
    border-radius: 3px;
}
/* life */
#life{
    height: 330px;/* 자식이 float일때 after로 가상공간을 만들어도 되지만 억지로 높이값을 주면 안깨짐 방법 두개란소리 상황따라 써야됨 */
    background-color: blue;
    position: relative;
}
#life .life_menu{
    position: relative;
    width: 50%;
    float: right;
    z-index: 20;/* position줘야 적용됨 값은 그냥 높게하려고 20준거 */
}
#life .life_menu ul{}
#life .life_menu ul li{
    float: left;
    width: 25%;
    margin-top: 60px;
}
#life .life_menu ul li a{
    display: block;
    width: 100px;
    height: 100px;
    background-color: #ddd;
    border-radius: 50%;
    text-align: center;
    line-height: 100px;
    transition: 0.3s;/*  1s=10000ms /0.3s=300ms*/
}
#life .life_menu ul li a:hover{
    background-color: #cc3b63;
    color: #fff;
}
#life .life_style{
    position: relative;
    height: 100%;
}
#life .life_style li{
    position: absolute;
    left: 0;top: 0;
    width: 100%; /* right: 0; 같은말*/
    height: 100%; /* bottom: 0;  같은말*/
    /* 넓이와 높이가 없으면 left top right bottom 0이면 위에 넓이 높이 백퍼랑같음 */
}
#life .life_style li:nth-child(1){
    background: url(../img/mc_service_bg02.png) no-repeat;
}
#life .life_style li:nth-child(2){
    background: url(../img/mc_service_bg03.png) no-repeat;
}

#life .life_style li:nth-child(3){
    background: url(../img/mc_service_bg04.png) no-repeat;
}
#life .life_style li:nth-child(4){
    background: url(../img/mc_service_bg05.png) no-repeat;
}
#life .life_style li .text{}
#life .life_style li .text a{
    display: block;
    width: 50%;
    font-size: 50px;
    padding: 60px 0 0 30px;
}
#life .life_style li .text a em{
    font-size: 18px;
    color: #000;
    display: block;/* 글자 밑으로 떨구려고 속성변경 */
    letter-spacing: 1px;/* 자간 */
}

#life .life_btn{
    position: absolute;
    left: 0;bottom: 86px;
    right: 0;/* left0 right0 = width: 100%; */
    background-color: #fff;
    
}
#life .life_btn ul{}
#life .life_btn ul li{
    float: left; width: 16.6666%;
    position: relative;
}
/* li사이의 공간을 나누는 선 만들어주기 */
#life .life_btn ul li::after{
    content: "";
    position: absolute;
    /* :after,:before는 인라인요소이지만 원래가지던 성질이 사라짐 넓이와 높이를 인식함*/
    left: 0;top: 18px;
    width: 1px;height: 14px;
    background-color: #ccc;
}
#life .life_btn ul li:nth-child(1)::after{
    width: 0;height: 0;/* 첫번째 li의 after를 없앰 */
}
#life .life_btn ul li a{
    font-size: 16px;
    color: 333;
    display: block;
    padding: 13px 10px;
    text-align: center;/* 블록요소에만 사용가능함 바로밑에 자식도 상속받음 */
}

#app{}
#app .app_left{
    float: left;
    width: 49%;
    height: 200px;
    background: #fff url(../img/mc_service_banner01_img.jpg) no-repeat 50px 45px; /* 백그라운드 이미지는 공간인식안함 독립적임 아이콘이랑 상관x */
}
#app .app_left ul{
    overflow: hidden;/* float로 부모 높이깨지는거 방지 버그같은거 */
    padding: 45px 0 10px 290px; /* 패딩으로 아이콘 전체의 위치를 옮겨줌 */
}
#app .app_left ul li{
    /* float에 의한 부모의 깨짐 방지
    부모한테 높이값 강제로주기 / content: ""; clear:both; diplay;block; after의 가상요소로 부모의 마지막 자식으로 붙여주줌/ 부모에게 overflow:hidden 쓸때 안쓸때 구분하기  */
    float: left;
    width: 48px;
    height: 48px;
    margin-right: 20px;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    overflow: hidden;
}
#app .app_left .al_text{
    font-size: 16px;
    color: #666;
    padding-left: 290px;

}
#app .app_left .al_text a{}
#app .app_left .al_text a strong{
    display: block;
    font-size: 20px;
    color: #000;
    line-height: 34px;
}

#app .app_left ul li a{}
#app .app_left ul li a img{
    transform: scale(1.05);
}

#app .app_right{
    float: right;
    width: 50%;
    height: 200px;
    background-color: #ddd;
}
#app .app_right{}
#app .app_right>div{
    float: left;
    font-size: 16px;
    color: #fff;
    text-align: center;
    height: 70px;
}
#app .app_right .ar_ban1{
    width: 25%;
    background: #2f4359 url(../img/service_ban01.png) no-repeat center 50px;
    padding-top: 130px; /* 글자를 하단부에 위치시키려고 패딩씀 높이값을 작게주고
    패딩으로 밈 반대로 높이값 알맞게 주고 패딩으로 밀고 박스사이징으로 안쪽으로 밀어도됨 글자는 패딩으로 움직일것 */
    
   
}
#app .app_right .ar_ban2{
    width: 25%;
    width: 25%;
    background: #00907f url(../img/service_ban02.png) no-repeat center 50px;
    padding-top: 130px; 
}
#app .app_right .ar_ban3{
    width: 50%;
    background-color: #fff;
    padding: 20px 20px 19px;
    box-sizing: border-box;
    height: auto; /* 부모높이값 영향해제 */
    
}
#app .app_right .ar_ban3 .ban3_text{
    font-size: 15px;
    color: #666;
    border-bottom: 1px solid #ddd;
    padding: 20px 20px 30px 75px;
    background: url(../img/service_ban03.png)no-repeat 20px 40px; /* 이미지 태그가 아닌 백그라운드 이미지를 읽어줘야할때 영역에 타이틀을 추가해서 접근성을 용이하게 만들어줄수있음  */
    
}
#app .app_right .ar_ban3 .ban3_text h5{
    font-size: 20px;
    color: #000;
    padding-bottom: 5px;
}
#app .app_right .ar_ban3 .ban_slider{
    color: #000;
    font-size: 16px;
    padding-top: 10px;
/* 원래는 슬릭으로 슬라이드 넣어줘야함 */
}
/* footer */
/* footer layout */
#footer_notice{
    height: 71px;
    line-height: 71px;
    border-bottom: 1px solid #e6e6e6;
}

#footer_info{
    height: 242px;
    background-color: #f7f8f9;
}
/* footer_notice */
.notice{
    overflow: hidden;
}
.notice h3{
    float: left;
    font-size: 15px;
    margin-right: 30px;
}
.notice h3 i{
    font-size: 10px;
    border: 1px solid #ccc;
    display: inline-block;
    padding: 4px;
    vertical-align: 3px;/* 글자(인라인)를 상하로 조절하는 속성 texr-align은 좌우 */
}
.notice ul{
    float: left;
}
.notice ul li{
    float: left;
    /* 텍스트 줄임말 ... 
    넓이와 overflow: hidden; white-space: nowrap; text-overflow: ellipsis;
    는 세트임 같이써야됨 */
    width: 400px; /* 말줄임을 할때 반드시 넓이를 인식시켜야 줄여짐 */
    overflow: hidden;
    white-space: nowrap;/* 텍스트를 밑으로 떨어뜨리지마라 */
    text-overflow: ellipsis;
    margin-right: 50px;
    
    
}
.notice ul li a{
    position: relative;
    color: #666;
    font-size: 15px;
    padding-left: 8px;
}
.notice ul li a::after{
    content: "";
    width: 3px;
    height: 3px;
    background-color: #666;
    position: absolute;
    left: 0;top: 10px;
   
}
.notice .notice_btn{
    position: absolute;
    right: 0;
    top: 16px;
    border: 1px solid #e6e6e6;
    line-height: 20px;
    padding: 7px 20px;
    border-radius: 3px;
    font-size: 14px;
}
/* info */
.info{}
.info a{
    color: #666;
}
.info a:hover{
    color: #00907f;
}
.info .f_nav{}
.info .f_nav ul{}
.info .f_nav ul li{
    display: inline-block; /* float로 안하는 이유는 글자의 기본속성이 있기때문에
    정확하게 위치잡고 해야할때는 float씀 글자는 글자주위에 간격이나 속성이 따로있음 */
    padding: 10px;
}
.info .f_nav ul li:nth-child(1){
    padding-left: 0;
}
.info .f_nav ul li a{}
.info .f_nav ul li a strong{
    color: #000;
    font-weight: bold;/* =700 */
}
.info .f_nav ul li a strong:hover{
    color:#00907f /* strong 에 color색을 줬기에 a 태그 hover가 안먹음 그래서 다시 한번 hovver로  */
}

.info .f_address{
    font-size: 13px;
    line-height: 24px;
}
.info .f_address span{
    padding-right: 15px;
}
.info .f_icon{
    margin-top: 20px;
}
.info .f_icon ul{}
.info .f_icon ul li{
    float: left;
    margin-right: 15px;
    padding: 5px 15px 5px 50px;
}
.info .f_icon ul li.fi1{
    background: url(../img/mark01.png) no-repeat 0 5px;
    padding-left: 45px;
}
.info .f_icon ul li.fi2{
    background: url(../img/mark02.png) no-repeat 0 5px;
}
.info .f_icon ul li.fi3{
    background: url(../img/mark03.png) no-repeat 0 5px;
}
.info .f_icon ul li.fi4{
    background: url(../img/mark04.png) no-repeat 0 5px;
    padding-left: 60px;
} 
.info .f_icon ul li.fi5{
    background: url(../img/mark05.png) no-repeat 0 5px;
}
.info .family_site{
    position: absolute;
    right: 0 ; top: 20px;
    font-size: 14px;
    border: 1px solid #e6e6e6;
    padding: 7px 20px;
}
.info .family_site a{}
.info .family_site a i{
    padding-left: 20px;
    vertical-align: 2px; /* i태그는 인라인이기때문에 vertical-align */
}
.info .sns_icon{
    position: absolute;
    right: 0;top: 68px;
}
.info .sns_icon ul{}
.info .sns_icon ul li{
    display: inline-block; 
}
.info .sns_icon ul li img{}
